{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="feed" title="{{ site.title }} Feed">
{% endunless %}

{% webmentions_head %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@master/css/academicons.min.css">
<meta name="monetization" content="$coil.xrptipbot.com/PQUEPWW9Q86JygbJ55QffA">
<meta name="follow_it-verification-code" content="UZymdYkGLAnCTLSEt5ev"/>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=JyAMRlQmm5">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=JyAMRlQmm5">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=JyAMRlQmm5">
<link rel="manifest" href="/site.webmanifest?v=JyAMRlQmm5">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=JyAMRlQmm5" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=JyAMRlQmm5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">

<!-- RobustLinks CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/robustlinks.css" />
<!-- RobustLinks Javascript -->
<script type="text/javascript" src="/assets/js/robustlinks-min.js"></script>
