---
title: Considerations for Online Age Verification (in the U.S.)
modified: 2023-09-02T12:10:42-04:00
categories:
- Policy
tags:
- government information
- Children's Online Privacy Protection Act
- digital privacy
mastodon:
- New blog post
---
The Congressional Research Service has posted four reports about verifying users' ages for various services online in the past few months. 
This is a tricky area because there are open questions around compliance and potential free speech impacts. 
Figuring out how to protect minors while not infringing on lawful communication or driving content providers from the market is quite the challenge.

(You can get updates about reports from the Congressional Research Service via RSS or Mastodon; see [an earlier blog post](https://dltj.org/article/crs-rss/) for details.)


## Challenges with identifying minors online

Most recently updated in March 2023, this 3-page {% include robustlink.html href="https://crsreports.congress.gov/product/pdf/IN/IN12055" versionurl="https://web.archive.org/web/20230824174606/https://crsreports.congress.gov/product/pdf/IN/IN12055" versiondate="2023-08-24" title="Challenges with Identifying Minors Online" anchor="Challenges with Identifying Minors Online" %} report has brief sections describing current efforts to identify children, potential challenges when identifying minors, and policy considerations for Congress. 
I think it can be viewed as a high-level summary to the subsequent reports. 

Congress has passed laws like COPPA (Children's Online Privacy Protection Act of 1998) to protect minors online, but identifying their ages remains challenging. 
While some sites require entering a birthdate, others are exploring options like ID verification. 
However, requiring government IDs may exclude many minors, and fake student IDs could be used. 
Creating a national digital ID system raises privacy concerns. 
AI-based age checks have accuracy issues, and using data brokers' information raises data collection concerns. 
The report describes how Congress, as it considers further protections, may stumble into unintended consequences like limiting content access or increasing data collection; those factors should be weighed against protecting minors.


## Current context

In mid-August, the Congressional Research Service published three reports with greater depth.  The first, {% include robustlink.html href="https://crsreports.congress.gov/product/pdf/LSB/LSB11020" versionurl="https://perma.cc/QHZ7-XK4S" versiondate="2023-09-01" title="Online Age Verification (Part I): Current Context" anchor="Online Age Verification (Part I): Current Context" %}, is a 3-page report about online age verification laws that have been proposed or enacted at both the state and federal levels. 
It provides an overview of different approaches taken in various state laws targeting social media platforms or pornography sites. 
Requirements range from estimating a user's age to definitively verifying age through ID checks. 
Enforcement also varies, with some laws allowing private lawsuits while others give enforcement authority solely to state officials. 

The report notes constitutional free speech concerns around age verification laws. 
Imposing requirements on websites to check users' ages could discourage them from hosting certain content or force platforms offline if compliance is too costly. 
The Supreme Court has expressed worries that protecting minors should not be used to excessively burden adult communication.


## Constitutional background

The second report, {% include robustlink.html href="https://crsreports.congress.gov/product/pdf/LSB/LSB11021" versionurl="https://perma.cc/U53H-L6BJ" versiondate="2023-09-01" title="Online Age Verification (Part II): Constitutional Background" anchor="Online Age Verification (Part II): Constitutional Background" %} (also 3 pages), describes how age verification laws requiring online platforms to verify users' ages may face First Amendment challenges. 
(Such requirements could burden free speech rights.) 
The report says that laws establishing age verification obligations are more likely to be deemed constitutional if they are content-neutral and narrowly tailored to a vital government interest like protecting minors. 
It also outlined how the Supreme Court has ruled on previous federal laws around age verification. 
Content-based laws like the Communications Decency Act (CDA) have been struck down for not being narrowly tailored and burdening lawful adult speech. 
While the Child Online Protection Act (COPA) survived a preliminary injunction, courts ultimately found it unconstitutional due to age verification methods not being fully effective and imposing high compliance costs.
Overall, the key impact is that future age verification policies must be carefully crafted to avoid First Amendment issues highlighted by past Supreme Court decisions.


## Constitutional issues

The final report in the series is 4 pages long: {% include robustlink.html href="https://crsreports.congress.gov/product/pdf/LSB/LSB11022" versionurl="https://perma.cc/2DQ6-L77Y" versiondate="2023-09-01" title="Online Age Verification (Part III): Select Constitutional Issues" anchor="Online Age Verification (Part III): Select Constitutional Issues" %}.
The document discusses potential constitutional challenges to laws requiring age verification for online services. 
It analyzes how such laws may impact the free speech rights of website operators, adult users, and minor users. 
Laws targeting pornography or material harmful to minors are likely content-based, while laws targeting social media may be content-neutral. 
However, laws with content-based exceptions could still face First Amendment challenges. 
The government must show it has a compelling interest, such as protecting minors, and that the law is narrowly tailored. 
Past courts have found general interests in protecting children insufficient without proof of specific harms. 
Age verification laws could also impact minors' access to a wide range of online speech. 

