---
layout: default
author_profile: false
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}

    {% if page.title == "Thursday Threads" %}
    <p><i>Thursday Threads</i> is a weekly newsletter of hand-crafted links and commentary at the intersection of library technology, broader technology trends, and internet culture. Browse the previous issues below, then subscribe using the form below to get this newsletter by email.</p>

      <form method="post" action="https://newsletter.dltj.org/subscribe">
        <div class="form-group">
          <label for="email" >DLTJ's Thursday Threads Newsletter Signup</label>
          <div>
            <input type="email" class="form-control" id="email" name="email" placeholder="Your email address">
            <button type="submit">Sign Up</button>
          </div>
        </div>
      </form>
    {% endif %}

    {% for post in page.posts %}
      {% include archive-single.html %}
    {% endfor %}
  </div>
</div>
